@font-face {
    font-family: 'OpenGost Type A TT';
    src: url('OpenGostTypeATT-Regular.woff2') format('woff2'),
        url('OpenGostTypeATT-Regular.woff') format('woff'),
        url('OpenGostTypeATT-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans Light';
    src: url('OpenSans-Light.eot');
    src: url('OpenSans-Light.eot?#iefix') format('embedded-opentype'),
        url('OpenSans-Light.woff') format('woff'),
        url('OpenSans-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'a_FuturicaBook';
    src: local('a_FuturicaBook'),
        local('a_FuturicaBook-Regular'),
        url('a_futuricabook.woff') format('woff'),
        url('a_futuricabook.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'AG_Futura';
    src: url('AGFutura.woff2') format('woff2'),
        url('AGFutura.woff') format('woff'),
        url('AGFutura.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Neuropol';
    src: url('NeuropolMedium.woff2') format('woff2'),
        url('NeuropolMedium.woff') format('woff'),
        url('NeuropolMedium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Philosopher';
    src: url('Philosopher.woff2') format('woff2'),
        url('Philosopher.woff') format('woff'),
        url('Philosopher.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Ubuntu';
    src: url('Ubuntu.woff2') format('woff2'),
        url('Ubuntu.woff') format('woff'),
        url('Ubuntu.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Ultra Vertex15';
    src: url('UltraVertex15-Medium.woff2') format('woff2'),
        url('UltraVertex15-Medium.woff') format('woff'),
        url('UltraVertex15-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'a_Futurica';
    src: url('AFuturica.woff2') format('woff2'),
        url('AFuturica.woff') format('woff'),
        url('AFuturica.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Exan';
    src: url('Exan-Regular.woff2') format('woff2'),
        url('Exan-Regular.woff') format('woff'),
        url('Exan-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'NobleGaslights';
    src: url('NobleGaslights.eot');
    src: url('NobleGaslights.eot') format('embedded-opentype'),
         url('NobleGaslights.woff2') format('woff2'),
         url('NobleGaslights.woff') format('woff'),
         url('NobleGaslights.ttf') format('truetype'),
         url('NobleGaslights.svg#NobleGaslights') format('svg');
}
