@import url('fonts/fonts.css');
@import url('https://fonts.googleapis.com/css?family=Alegreya+Sans:400i,500,700&amp;subset=cyrillic');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300&amp;subset=cyrillic');

@page {
    margin: 0px;
}

body {
    background: #000;
}

.wrap {
    position: relative;
}

a {
    color: #007f7f;
}

a:hover, a:focus {
    text-decoration: none;
}

a:focus {
    outline: none;
    outline-offset: 0;
    color: #fff;
}

h1 {
    color: #fff;
    font-family: 'Open Sans';
    font-weight: 300;
    margin-top: 15px;
    margin-bottom: 20px;
    text-shadow: 2px 2px 5px #3333ff, -2px 2px 5px #ff33ff;
}

.page {
    background-color: rgba(0, 0, 0, 1);
    padding-left: 20px;
    padding-right: 20px;
    page-break-inside: avoid;
    border: 1px dashed #131;
    margin-bottom: 20px;
}

.new-game {
    background-color: rgba(0, 0, 0, 1);
    position: absolute;
    top: 20px;
    color: #fff;
    font-family: 'Open Sans';
    font-weight: 300;
    text-shadow: 2px 2px 5px #3333ff, -2px 2px 5px #ff33ff;
    border: 1px dashed #131;
    padding: 5px 10px;
}

.new-game:hover {
    color: #7ba;
    text-decoration: underline;
}

.page-title,
.page-links,
.page-text {
    margin-top: 25px;
    margin-bottom: 25px;
}

.page-title {
    width: 120px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    font-size: 28px;
    background-image: url('img/crossword.png');
    color: rgba(24, 59, 52, 0.7);
}

.page-text {
    position: relative;
    background: linear-gradient(
        to bottom left,
        rgba(51, 51, 255, 0.85) 0%,
        rgba(51, 255, 51, 0.85) 33%,
        rgba(255, 51, 255, 0.85) 66%,
        rgba(51, 255, 255, 0.85) 100%
    );
    background-size: 400% 400%;
    padding: 1px;
    -webkit-animation: Gradient 15s ease infinite;
    -moz-animation: Gradient 15s ease infinite;
    animation: Gradient 15s ease infinite;
    font-family: 'Alegreya Sans', sans-serif;
    font-size: 20px;
    font-weight: 500;
}

.page-text-bg {
    position: relative;
    z-index: 2;
    padding: 25px;
    background-position: 0px 0px;
    position: relative;
    background-color: #fff;
    background-image: url("img/white-linen.png");
    background-repeat: repeat;
    -webkit-animation: animatedBackground 2s linear infinite;
    -moz-animation: animatedBackground 2s linear infinite;
    -ms-animation: animatedBackground 2s linear infinite;
    animation: animatedBackground 2s linear infinite;
}

@keyframes animatedBackground {
    from {
        background-position: 0 0;
    }
    to {
        background-position: 0 100%;
    }
}
@-webkit-keyframes animatedBackground {
    from {
        background-position: 0 0;
    }
    to {
        background-position: 0 100%;
    }
}
@-ms-keyframes animatedBackground {
    from {
        background-position: 0 0;
    }
    to {
        background-position: 0 100%;
    }
}
@-moz-keyframes animatedBackground {
    from {
        background-position: 0 0;
    }
    to {
        background-position: 0 100%;
    }
}

.page-links {
    
}

.page.active {
    background-color: rgba(12, 125, 167, 0.22);
}

#space {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to left, rgba(0, 0, 255, 0.08), rgba(0, 0, 0, 0));
    background-size: 400% 400%;
    -webkit-animation: Gradient 15s ease infinite;
    -moz-animation: Gradient 15s ease infinite;
    animation: Gradient 15s ease infinite;
}



@-webkit-keyframes Gradient {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}

@-moz-keyframes Gradient {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}

@keyframes Gradient {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}

.page-links {
    margin-left: 0;
    padding-left: 0;
}

.page-links li {
    list-style-type: none;
    padding: 10px 15px;
    border: 1px dashed #131;
    font-family: 'OpenGost Type A TT';
    font-size: 24px;
    margin-bottom: 10px;
}

.page-links li a {
    color: rgba(31, 242, 65, 0.75);
}

.page-links li a:hover {
    color: rgba(31, 242, 65, 1);
}

.page-links p {
    margin: 0;
}
