@import url('fonts/fonts.css');

* {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
    -webkit-touch-callout: none;    /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none; /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;      /* prevent copy paste, to allow, change 'none' to 'text' */
    background: #000;
    color: #fff;
    font-family: 'a_FuturicaBook';
}

@-webkit-keyframes Gradient {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}

@-moz-keyframes Gradient {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}

@keyframes Gradient {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}

#space {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.main {
    min-height: 100vh;
    max-width: 100vw;
}

/*#menu {
    position: absolute;
    top: 0.2em;
    left: 50%;
    transform: translate(-50%, 50%);
    text-align: center;
} */

#menu h1,
#gameMenu h5 {
    color: #fff;
    font-family: 'Open Sans Light';
    font-weight: 300;
    /*text-shadow: 2px 2px 5px #3333ff, -2px 2px 5px #ff33ff;*/
    /*color: #c6e2ff;*/
    animation: neon .28s ease-in-out infinite alternate;
}

#menu h1,
#gameMenu h5 span {
    /*font-family: 'NobleGaslights' !important;*/
}

@keyframes neon {
/*    from {
        text-shadow:
            0 0 6px rgba(202, 228, 225, 0.92),
            0 0 30px rgba(202, 228, 225, 0.34),
            0 0 12px rgba(30, 132, 242, 0.52),
            0 0 21px rgba(30, 132, 242, 0.92),
            0 0 34px rgba(30, 132, 242, 0.78),
            0 0 54px rgba(30, 132, 242, 0.92);
    }
    to {
        text-shadow:
            0 0 6px rgba(202, 228, 225, 0.98),
            0 0 30px rgba(202, 228, 225, 0.42),
            0 0 12px rgba(30, 132, 242, 0.58),
            0 0 22px rgba(30, 132, 242, 0.84),
            0 0 38px rgba(30, 132, 242, 0.88),
            0 0 60px rgba(30, 132, 242, 1);
    }*/
    from {
        text-shadow:
            0 0 6px rgba(255, 51, 255, 0.92),
            0 0 30px rgba(255, 51, 255, 0.34),
            0 0 12px rgba(51, 51, 255, 0.52),
            0 0 21px rgba(51, 51, 255, 0.92),
            0 0 34px rgba(51, 51, 255, 0.78),
            0 0 54px rgba(51, 51, 255, 0.92);
    }
    to {
        text-shadow:
            0 0 6px rgba(255, 51, 255, 0.98),
            0 0 30px rgba(255, 51, 255, 0.42),
            0 0 12px rgba(51, 51, 255, 0.58),
            0 0 22px rgba(51, 51, 255, 0.84),
            0 0 38px rgba(51, 51, 255, 0.88),
            0 0 60px rgba(51, 51, 255, 1);
    }
}

#menu h1 {
    margin-top: 0em;
    margin-bottom: 0.25em;
    font-size: 2.4em;
}

#menu a {
    font-size: 1.5em;
    margin-bottom: 0.1em;
}

h1 {
    font-size: 2.4em;
    font-weight: normal;
    margin: 0em;
    padding: 0em;
    overflow: visible;
    text-align: center;
}

.event {
    -webkit-border-radius: 0.4em;
    border-radius: 0.4em;
    color: #FFFFFF;
    font-size: 1.2em;
    margin: 0em 3em;
    padding: 0.2em 0em;
}

.event.listening {
    background-color: #333333;
    display: block;
}

.event.received {
    background-color: #4B946A;
    display: none;
}

@keyframes fade {
    from {
        opacity: 1.0;
    }
    50% {
        opacity: 0.4;
    }
    to {
        opacity: 1.0;
    }
}
 
@-webkit-keyframes fade {
    from {
        opacity: 1.0;
    }
    50% {
        opacity: 0.4;
    }
    to {
        opacity: 1.0;
    }
}
 
.blink {
    animation: fade 3000ms infinite;
    -webkit-animation: fade 3000ms infinite;
}

#testBar,
#menu {
    display: none;
}

.menu-link {
    display: block;
}

#pageWrap {
    position: relative;
    font-family: 'a_Futurica';
    position: fixed;
    width: 100%;
    overflow-y: auto;
    top: 3.5em;
    max-height: calc(100vh - 3.5em);
    z-index: 1;
}

#page {
    position: relative;
    z-index: 2;
    padding: 1em;
    position: relative;
    font-size: 1em;
    font-weight: 500;
    line-height: 1.2em;
    color: rgba(255, 255, 255, 0.9);
}

.tablet-header img {
    height: 1.5em;
    width: 2.5em;
    margin-top: 0.35em;
    cursor: pointer;
}

#actionsWrap {
    margin-bottom: 0.5em;
    position: relative;
}
#actions {
    z-index: 2;
    padding: 1em;
    position: relative;
}

#actions li {
    /* display: block;
    border: 1px dashed rgba(0, 123, 255, 0.25);
    padding: 1em;
    margin-bottom: 1em; */
    margin-bottom: 0.75em;
    line-height: 1.1em;
}

#actions li:last-child {
    margin-bottom: 0;
}

#actions a p {
    margin-bottom: 0;
}

@keyframes animatedBackground {
    from {
        background-position: 0 0;
    }
    to {
        background-position: 0 100%;
    }
}
@-webkit-keyframes animatedBackground {
    from {
        background-position: 0 0;
    }
    to {
        background-position: 0 100%;
    }
}
@-ms-keyframes animatedBackground {
    from {
        background-position: 0 0;
    }
    to {
        background-position: 0 100%;
    }
}
@-moz-keyframes animatedBackground {
    from {
        background-position: 0 0;
    }
    to {
        background-position: 0 100%;
    }
}

#gameMenu {
    padding: 0 1em;
    margin-top: 0.5em;
    position: fixed;
    width: calc(100% - 1em);
    z-index: 2;
}

#gameMenu h5 {
    font-size: 1.5em;
    margin-top: -0.1em;
}

#toggleGameMenu {
    height: 1.75em;
    width: 1.75em;
    fill: #007bff;
    margin-top: 0em;
    cursor: pointer;
}

body.preload #gameMenu {
    display: none;
}

body:not(.preload) {
    display: block;
}

body.isGameMenuActive #toggleGameMenu {
    fill: #fff;
}

body.isGameMenuActive {
    position: fixed;
}

body:not(.isGameMenuActive) {
    position: static;
}

#playerStats {
    position: fixed;
    display: none;
    width: 0;
    height: calc(100vh - 3.5em);
    overflow-y: auto;
    top: 3.5em;
    right: 0px;
    border-top: 1px solid #007bff;
    background: rgba(0, 0, 0, 1);
    z-index: 3;
    color: #007bff;
}

#playerStats h5 {
    font-size: 1.25em;
    color: #b005f7;
}

#playerStats li {
    line-height: 0.9em;
    margin-bottom: 0.25em;
}

#playerStats ul {
    padding-left: 1.5em;
}

h5 .gameLogo {
    font-size: 1.5em;
}

#notice {
    color: #007bff;
    padding-top: 0.5em;
    padding-left: 1em;
    padding-right: 1em;
}

.container-fluid {
    padding-right: 0.5em;
    padding-left: 0.5em;
}

.row {
    margin-right: -0.5em;
    margin-left: -0.5em;
}

.col {
    padding-right: 0.5em;
    padding-left: 0.5em;
}

body.isGameMenuActive #playerStats {
    display: block;
}

body.darkness {
    box-shadow: inset 0px 0px 1000px 100px #000000;
}

body.darkness #space,
body.darkness #page {
    z-index: -1;
}

@keyframes animatedBlur {
    0% {
        filter: blur(0.22mm);
    }
    25% {
        filter: blur(0.3mm);
    }
    50% {
        filter: blur(0.52mm);
    }
    75% {
        filter: blur(0.72mm);
    }
    100% {
        filter: blur(0.22mm);
    }
}

body.blur .gameUI.text {
    animation: animatedBlur 9s infinite;
}

#actions a.tao {
    color: #b005f7;
}
#actions a.disable {
    color: #aaaaaa99;
    cursor: default;
}
#actions a.disable:hover {
    text-decoration:none;
}

#playerStats_top,
#playerStats_bottom {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0.15em;
}

.playerStats_wrap {
    padding: 0.15em;
    border: 1px #007bff dashed;
    margin: 0.15em;
}

.playerStats_wrap h5 {
    border-bottom: 1px #b005f7 dotted;
}

#playerStats .progress-bar {
    flex: none;
}

#playerStats_top div {
    flex: 9.6em;
}
#playerStats_bottom div {
    flex: 10em;
    flex-grow: 1;
}

@-webkit-keyframes scroll {
    0% {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
    }
    100% {
        -webkit-transform: translate(-100%, 0);
        transform: translate(-100%, 0)
    }
}
 
@-moz-keyframes scroll {
    0% {
        -moz-transform: translate(0, 0);
        transform: translate(0, 0);
    }
    100% {
        -moz-transform: translate(-100%, 0);
        transform: translate(-100%, 0)
    }
}
 
@keyframes scroll {
    0% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(-100%, 0)
    }
}
 
#first_page_quantum, #second_page_quantum {
    display: block;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    color: white;
}

#first_page_quantum span {
    -webkit-animation: scroll 5s infinite linear;
    -moz-animation: scroll 5s infinite linear;
    animation: scroll 5s infinite linear;
}

#second_page_quantum span {
    -webkit-animation: scroll 5s infinite linear;
    -moz-animation: scroll 5s infinite linear;
    animation: scroll 5s infinite linear;
    animation-direction: reverse;
}

#first_page_quantum span,
#second_page_quantum span {
    display: inline-block;
    padding-left: 100%;
}

#menu a,
#menu h1,
#gameMenu h5 .gameLogo,
#playerStats h5 {
    font-family: 'Ultra Vertex15';
}

#first_page_quantum,
#second_page_quantum {
    display: none;
}

.quantumEffect #first_page_quantum,
.quantumEffect #second_page_quantum {
    display: block;
    height: 4.5em;
}

.quantumEffect #first_page_quantum {
    top: 3.5em;
}

.quantumEffect #second_page_quantum {
    bottom: 0;
}

.quantumEffect .pageFixedWrap {
    height: calc(100vh - 13em);
    top: 8em;
    overflow-y: auto;
}

.quantumEffect #first_page_quantum,
.quantumEffect #second_page_quantum,
.quantumEffect .pageFixedWrap {
    position: fixed;
}

#first_page_quantum p,
#second_page_quantum p {
    margin-bottom: 0;
}

/* ---- */

.main > .row {
    min-height: 100vh;
}

.tablet {
    min-height: calc(100% - 3em);
    margin-top: 1.5em;
    margin-bottom: 1.5em;
    margin-left: 1em;
    margin-right: 1em;
    background: rgba(97, 170, 210, 0.2);
    position: relative;
    padding: 0 1.5em;
    -webkit-clip-path: polygon(2em 0%, calc(100% - 2em) 0%, 100% 2em, 100% calc(100% - 2em), calc(100% - 2em) 100%, 2em 100%, 0% calc(100% - 2em), 0% 2em);
    clip-path: polygon(2em 0%, calc(100% - 2em) 0%, 100% 2em, 100% calc(100% - 2em), calc(100% - 2em) 100%, 2em 100%, 0% calc(100% - 2em), 0% 2em);
    border: 2px solid #0d7ece;
    display: none;
}

.tablet.active {
    display: block;
}

.tablet-header {
    height: 2.25em;
    text-align: center;
}

.tablet-footer {
    position: absolute;
    bottom: 0;
    left: calc(50% - 10.5em);
    height: 4em;
    max-width: calc(21em + 2px);
    padding-left: 0.75em;
    padding-right: 0.75em;
    padding-top: 0.25em;
    padding-bottom: 0.25em;
    width: 100%;
    background-color: rgba(97, 170, 210, 0.225);
    -webkit-clip-path: polygon(1.25em 0, calc(100% - 1.25em) 0, 100% 1.25em, 100% 100%, 0 100%, 0 1.25em);
    clip-path: polygon(1.25em 0, calc(100% - 1.25em) 0, 100% 1.25em, 100% 100%, 0 100%, 0 1.25em);
    /*-webkit-clip-path: polygon(1.25em 0%, calc(100% - 1.25em) 0%, 100% 1.25em, 100% calc(100% - 1.25em), calc(100% - 1.25em) 100%, 1.25em 100%, 0% calc(100% - 1.25em), 0% 1.25em);
    clip-path: polygon(1.25em 0%, calc(100% - 1.25em) 0%, 100% 1.25em, 100% calc(100% - 1.25em), calc(100% - 1.25em) 100%, 1.25em 100%, 0% calc(100% - 1.25em), 0% 1.25em);
    margin-bottom: 0.5em;*/
}

.tablet-footer-icon {
    width: 3.5em;
    height: 3.5em;
    float: left;
    padding: 0.25em;
}

.tablet-footer-icon:not(:last-child) {
    margin-right: 0.5em;
}

.tablet-footer-icon > svg {
    height: 3em;
    width: 3em;
    cursor: pointer;
}

.cardHeader .icon-card > svg,
.cardFooter .icon-card > svg {
    height: 1em;
    width: 1em;
    position: relative;
    top: 0.1em;
}

.cardInner {
    font-size: 1em;
    background-color: rgba(97, 170, 210, 0.225);
    -webkit-clip-path: polygon(0.75em 0%, calc(100% - 0.75em) 0%, 100% 0.75em, 100% calc(100% - 0.75em), calc(100% - 0.75em) 100%, 0.75em 100%, 0% calc(100% - 0.75em), 0% 0.75em);
    clip-path: polygon(0.75em 0%, calc(100% - 0.75em) 0%, 100% 0.75em, 100% calc(100% - 0.75em), calc(100% - 0.75em) 100%, 0.75em 100%, 0% calc(100% - 0.75em), 0% 0.75em);
}

.cardHeader span.cardValue,
.cardFooter span.cardValue,
.cardHeader span.icon-card,
.cardFooter span.icon-card {
    height: 1em;
}

.cardBody .icon-card > svg {
    height: 3em;
    width: 3em;
}

.gameUI .cardInner {
    color: #48baff;
    margin-bottom: 0.5em;
    width: 6em;
}

.cardHeader,
.cardFooter,
.cardBody {
    padding: 0 0.5em;
}

.cardFooter {
    text-align: right;
}

.cardBody {
    text-align: center;
    margin-top: 1em;
    margin-bottom: 0.5em;
}

.cardWrap {
    padding: 0 0.25em;
}

.icon-active > svg path,
.tablet-footer-icon:hover > svg path {
    fill: #e4f5ff !important;
}

.text,
.cards,
.checkpoints,
.inventory,
.upgrades {
    color: rgb(245,255,255);
    padding-left: 2em;
    padding-right: 1.5em;
    margin-right: 0.5em;
    padding-bottom: 0.25em;
    text-align: justify;
    max-height: calc(100vh - 10.5em);
}

.topBars {
    margin-bottom: 0.35em;
}

.progressBars {
    padding: 0 1em;
    margin-top: 1em;
    margin-bottom: 0.5em;
}

.progressBars .icon-card > svg {
    height: 2em;
    width: 2em;
    position: relative;
    top: 0.1em;
}

.progressIcon {
    display: inline-block;
    width: 2em;
}

.progressInner {
    display: inline-block;
    width: calc(65% - 1em);
    position: relative;
    top: -0.3em;
    margin-left: 0.5em;
}

.progressBars .progress {
    height: 3em;
}

.list {
    margin-left: 16%;
    margin-top: 1em;
}

.checkPointsList {
    list-style: none;
    padding: 0;
}

.checkPointsList li {
    background-image: url("img/pin.svg");
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 1.15em;
    padding-left: 2em;
    margin-bottom: 0.35em;
}

h2 {
    font-size: 1.25em;
}

.tablet-footer-icon {
    background-size: cover;
    cursor: pointer;
}

.icon-inventory {
    background-image: url(img/menu-icons/backpack_alt.png);
}

.icon-inventory:hover,
.icon-inventory.active {
    background-image: url(img/menu-icons/backpack.png);
}

.icon-upgrades {
    background-image: url(img/menu-icons/rocket_alt.png);
}

.icon-upgrades:hover,
.icon-upgrades.active {
    background-image: url(img/menu-icons/rocket.png);
}

.icon-text {
    background-image: url(img/menu-icons/page_alt.png);
}

.icon-text:hover,
.icon-text.active {
    background-image: url(img/menu-icons/page.png);
}

.icon-checkpoints {
    background-image: url(img/menu-icons/checkpoints_alt.png);
}

.icon-checkpoints:hover,
.icon-checkpoints.active {
    background-image: url(img/menu-icons/checkpoints.png);
}

.icon-cards {
    background-image: url(img/menu-icons/cards_alt.png);
}

.icon-cards:hover,
.icon-cards.active {
    background-image: url(img/menu-icons/cards.png);
}

.left16 {
    margin-left: 16%;
}

.right16 {
    margin-right: 16%;
}

h2 {
    font-family: 'Ubuntu';
    text-shadow:
        0 0 1px white,
        0 0 2px white,
        0 0 3px white,
        0 0 4px rgba(13, 126, 206, 0.75),
        0 0 5px rgba(13, 126, 206, 0.75),
        0 0 6px rgba(13, 126, 206, 0.75),
        0 0 8px rgba(13, 126, 206, 0.75),
        0 0 10px rgba(13, 126, 206, 0.75);
}

.mainMenu ul,
.settingsMenu ul {
    list-style: none;
    padding: 0;
}

.mainMenu h2 {
    font-size: 1.5em;
}

.mainMenu ul li,
.settingsMenu ul li {
    font-family: 'Ubuntu';
}

.mainMenu ul li.active,
.settingsMenu ul li.active {
    cursor: pointer;
    color: #88d2ff;
}

.mainMenu ul li.disable,
.settingsMenu ul li.disable {
    color: #3b4f5a;
}

.mainMenu,
.settingsMenu {
    position: relative;
    top: 50%;
    transform: perspective(1px) translateY(-50%);
}

.settingsMenu input[type="range"] {
    width: 7.5em;
}

.settingsMenu ul li {
    margin-top: 0.85em;
}

.notice svg {
    position: relative;
    top: 0.2em;
    margin-right: 0.5em;
}

.notice {
    border: 1px solid #0d7ece;
    padding: 0.5em 1em;
    margin-bottom: 1em;
    background: rgba(97, 170, 210, 0.3);
    cursor: pointer;
}

.gameUI {
    display: none;
}

.gameUI.active {
    display: block;
}

.simplebar-scrollbar:before {
    background: #88d2ff;
}